
.App {
  margin: 35px;
    width: 600px;
    text-align: center;
    background-color: #F6F6F6;
    padding-left: 80px;
    padding-right: 80px;
    box-shadow: 3px 3px 11px 1px #888888;
    padding-block-end: 8px;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.container {
  justify-content: center; 
  background-color:#8EFCAF; /* For browsers that do not support gradients */
  background-image: linear-gradient(#8EFCAF, #3697FA); /* Standard syntax (must be last) */
  display: flex;
  min-height: 100vh;
  
}
h1{
  margin: 0;
}





